<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List students</h1>
<table border="1">
    <tr>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Detail</th>
        <th>Detail2</th>
        <th>Update</th>
    </tr>
    <tr th:each="stu, iter: ${students}" th:object="${stu}">
        <td th:text="${iter.count}"></td>
        <td th:text="${stu.id}"></td>
        <td th:text="${iter.current.name}"></td>
        <td th:text="*{age}"></td>
        <td th:text="*{address}" th:if="${stu.address}"></td>
        <td><a th:href="@{/student/detail/{id}(id=*{id})}">Detail</a></td>
        <td><a th:href="@{/student/detail(id=*{id})}">Detail</a></td>
        <td><a th:href="@{/student/update(id=*{id})}">Update</a></td>
    </tr>
</table>
</body>
</html>