# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\A0422I1_DoTienThanh\Module_4\ss05_ThaoTacVoiCSDL_ORM\BaiTap\XayDungUngDungNgheNhacDonGian\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
