<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragment/header :: header-flag}"></div>
<center>
    <h1>Edit Blog</h1>
    <form th:action="@{/blog/edit}" method="post" th:object="${blog}">
        <table border="1">
            <tbody>
            <input type="hidden" th:field="*{id}" th:value="${blog.id}">
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" th:value="${blog.name}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{image}" th:value="${blog.image}"></td>
            </tr>
            <tr>
                <td>Category</td>
                <td>
                    <select th:field="*{category}">
                        <option value=""></option>
                        <option th:each="category1: ${categoryList}" th:value="${category1.id}"
                                th:text="${category1.name}" th:selected="${category1.id.equals(blog.category.id)}"
                        ></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" th:field="*{describe}" th:value="${blog.describe}"></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Edit Blog"/>
    </form>
</center>
</body>
</html>