<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<center>
    <h1 style="color: blue">Create User</h1>
    <form th:action="@{/users/register}" method="post" th:object="${user}">
        <table>
            <tr>
                <td>First Name: </td>
                <td><input th:field="*{firstName}"></td>
                <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><input th:field="*{lastName}"></td>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></td>
            </tr>
            <tr>
                <td>Phone Number: </td>
                <td><input th:field="*{phoneNumber}"></td>
                <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td>Age: </td>
                <td><input th:field="*{age}"></td>
                <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button>Submit</button>
                </td>
            </tr>
        </table>
    </form>
</center>
</body>
</html>