<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/list}">Back to list</a>
<div th:if="${mess}">
    <h3 th:text="${mess}" style="color: red"></h3>
    <br>
</div>
<form th:action="@{/create}" method="post" th:object="${customerList}">
    <table>
        <tr>
            <td>ID</td>
            <td><input type="text" th:field="*{idCustomer}"></td>
            <td th:if="${#fields.hasErrors('idCustomer')}" th:errors="*{idCustomer}"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{nameCustomer}"></td>
            <td th:if="${#fields.hasErrors('nameCustomer')}" th:errors="*{nameCustomer}"></td>
        </tr><tr>
        <td>Type</td>
        <td>
            <select th:field="*{customerType}">
                <option value="">Select</option>
                <option
                        th:each="type : ${customerTypeList}"
                        th:value="${type.id}"
                        th:text="${type.name}"
                ></option>
            </select>
        </td>
    </tr>
        <tr>
            <td>Birth day</td>
            <td><input type="date" th:field="*{birthDay}"></td>
        </tr><tr>
        <td>Gender</td>
        <td><input type="text" th:field="*{Gender}"></td>
    </tr>
        <tr>
            <td>ID card</td>
            <td><input type="text" th:field="*{idCard}"></td>
            <td th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td><input type="text" th:field="*{phone}"></td>
            <td sth:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></td>
        </tr><tr>
        <td>email</td>
        <td><input type="text" th:field="*{email}"></td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></td>
    </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>
                <a href="/list"><input type="submit" value="Edit" /></a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>