<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Music</h1>
<a th:href="@{/music/create}">
    <button>Create</button>
</a>
<table border="1">
    <tr>
        <th>Tên bài hát</th>
        <th>Ca sĩ</th>
        <th>Thể loại</th>
        <th>Đường dẫn</th>
        <th>Action</th>
    </tr>
    <tfbody th:each="m,stt : ${musicList}">
        <tr th:object="${m}">
            <td th:text="*{nameSong}"></td>
            <td th:text="*{singer}"></td>
            <td th:text="*{typeOfMusic}"></td>
            <td>
                <audio controls>
                    <source th:src="@{'/music/' + ${m.path}}" type="audio/ogg">
                    <source th:src="@{'/music/' + ${m.path}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </td>
            <td>
                <a th:href="@{/music/view/{name}(name=*{nameSong})}">
                    <button>View</button>
                </a>
                <a th:href="@{/music/edit/{name}(name=*{nameSong})}">
                    <button>Edit</button>
                </a>
                <a th:href="@{/music/delete/{name}(name=*{nameSong})}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    </tfbody>
</table>
</body>
</html>