<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
<p style="color: red" th:text="${message}">
</p>
<form method="get" action="/">
    <input type="text" name="name" placeholder="input name search">
    <input type="text" name="manufacturer" placeholder="input manufacturer search">
    <button type="submit">Search</button>
</form>
<form method="get" action="/">
    <button type="submit">Refresh</button>
</form>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editForm">
    create form
</button>

<table>
    <tr>
        <th>No.</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th>email</th>
        <th>Category</th>
        <th>Action</th>
    </tr>
    <tr th:each="item,loop : ${productList}">
        <td th:text="${loop.count}"></td>
        <!--        <td th:text="${item.id}"></td>-->
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.manufacturer}"></td>
        <td th:text="${item.email}"></td>
        <td th:text="${item.category.name}"></td>

        <td>
            <button
                    th:onclick="showInfoEdit([[${item.id}]],[[${item.name}]],[[${item.price}]],[[${item.manufacturer}]],[[${item.email}]],[[${item.category.id}]])"
                    type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editForm">
                <i class="fa-solid fa-highlighter"></i>
            </button>
            <button type="button" th:onclick=|showInfoDelete(${item.id})|
                    class="btn btn-outline-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#delete">
                <i class="fa-solid fa-eraser"></i>
            </button>
        </td>
    </tr>
</table>

<!--delete Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Delete Now ?
                <input type="hidden" id="deleteId" name="id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="deleteThis" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!--edit Modal -->
<div class="modal fade" id="editForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Edit title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input hidden id="idEdit">
            <div class="modal-body">
                name: <input id="nameEdit"><br>
                <p style="color: red" id="name"></p><br>
                price: <input id="priceEdit" type="number"><br>
                <p style="color: red" id="price"></p><br>
                manufacturer: <input id="manufacturerEdit"><br>
                <p style="color: red" id="manufacturer"></p><br>
                email: <input id="emailEdit"><br>
                <p style="color: red" id="email"></p><br>
                category: <select id="categoryEdit">
                <option value="" disabled>chon lop</option>
                <option th:each="item:${categoryList}" th:value="${item.id} " th:text="${item.name}">
                </option>
            </select>
                <br>

                <input id="statusEdit" hidden>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="edit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal confirm-->

<div class="modal fade" id="modelConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
             <p id="message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<!--page-->
<div>
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a th:href="@{'/'(page=${productList.number - 1},name=${name},manufacturer=${manufacturer})}"
               th:if="${productList.hasPrevious()}" style="text-decoration: none">
                <button type="button" class="btn btn-danger btn-rounded">Previous</button>
            </a>
        </li>
        <li class="page-item">

        <li class="page-item" th:each="i: ${#numbers.sequence(1, productList.totalPages)}">
            <a class="page-link" th:href="@{'/'(page=${i - 1},name=${name},manufacturer=${manufacturer})}" th:text="${i}">
            </a>
        </li>

        <li class="page-item">
            <p class="page-link"><span th:text="${productList.number + 1}"></span>/<span th:text="${productList.totalPages}"></span>
            </p>
        </li>

        <li class="page-item">
            <a th:href="@{'/'(page=${productList.number + 1},name=${name},manufacturer=${manufacturer})}"
               th:if="${productList.hasNext()}">
                <button type="button" class="btn btn-danger btn-rounded">Next</button>
            </a>
        </li>
    </ul>
</div>
<script th:src="@{/style.js}"></script>
</body>
</html>