<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Employee</title>
    <link rel="stylesheet" href="/template/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/template/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<!--+++++++++++++++++++++header+++++++++++++++++++++-->
<div th:replace="~{layout/header.html}"></div>

<!--+++++++++++++++++++++navbar top+++++++++++++++++++++-->
<div class="mt-2 sticky-top" style="background-color: #046056">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand text-light ps-5 click" href="/">Home</a>
            <a class="navbar-brand text-light click" href="/employee/list">Employee</a>
            <a class="navbar-brand text-light click" href="/customer/list">Customer</a>
            <a class="navbar-brand text-light click" href="/service/list">Service</a>
            <a class="navbar-brand text-light click" href="/contract/list">Contract</a>
            <form class="d-flex m-0" th:action="@{/employee/list}" method="get">
                <input class="me-2" name="nameSearch" placeholder="Input name" th:value="${nameSearch}">
                <input class="me-2" name="emailSearch" placeholder="Input email" th:value="${emailSearch}">
                <select class="me-2" name="divisionSearch">
                    <option value="">Choose</option>
                    <option th:each="division: ${divisionList}" th:value="${division.divisionId}"
                            th:text="${division.divisionName}"
                            th:selected="${division.divisionId} == ${divisionSearch}">
                    </option>
                </select>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

<!--+++++++++++++++++++++content+++++++++++++++++++++-->
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/sidebar.html}"></div>
        <div class="col-md-10">
            <br>
            <center>
                <h1 class="font-text-footer">Employee List</h1>
                <div th:if="${mess != null}">
                    <h2 class="text-danger" th:text="${mess}"></h2>
                </div>
            </center>
            <br>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Id Card</th>
                    <th>Salary</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Education Degree</th>
                    <th>Division</th>
                    <th>
                        <a th:href="@{/employee/create}">
                            <button class="btn btn-outline-success w-100">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0
                                    1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody th:each="employee, iterStat : ${employeeList}">
                <tr th:object="${employee}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="*{employeeId}"></td>
                    <td th:text="*{employeeName}"></td>
                    <td th:text="*{#dates.format(employeeBirthday, 'dd-MM-yyyy')}"></td>
                    <td th:text="*{employeeIdCard}"></td>
                    <td th:text="*{employeeSalary}"></td>
                    <td th:text="*{employeePhone}"></td>
                    <td th:text="*{employeeEmail}"></td>
                    <td th:text="*{employeeAddress}"></td>

                    <div th:each="position: ${positionList}">
                        <td th:if="${position.positionId == employee.positionId.positionId}"
                            th:text="${position.positionName}">
                        </td>
                    </div>

                    <div th:each="educationDegree: ${educationDegreeList}">
                        <td th:if="${educationDegree.educationDegreeId == employee.educationDegreeId.educationDegreeId}"
                            th:text="${educationDegree.educationDegreeName}">
                        </td>
                    </div>

                    <div th:each="division: ${divisionList}">
                        <td th:if="${division.divisionId == employee.divisionId.divisionId}"
                            th:text="${division.divisionName}">
                        </td>
                    </div>

                    <td>
                        <a th:href="@{/employee/edit/{id}(id=*{employeeId})}">
                            <button class="btn btn-outline-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0
                                    1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5
                                    4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0
                                    1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821
                                    3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0
                                    1-.468-.325z"/>
                                </svg>
                            </button>
                        </a>
                    </td>

                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" th:attr="onclick=|showInfo('*{employeeId}', '*{employeeName}')|"
                                class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0
                                1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0
                                      1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4
                                      4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- phân trang -->
            <div th:if="${employeeList.totalPages > 1}">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${employeeList.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{'/employee/list'(page=${employeeList.number - 1})} + ${condition}">Previous</a>
                    </li>

                    <li th:each="i:${#numbers.sequence(0, employeeList.totalPages - 1)}"
                        th:class="'page-item ' + (${i == employeeList.number} ? 'active')" aria-current="page">
                        <a class="page-link" th:href="@{'/employee/list'(page=${i})} + ${condition}"
                           th:text="${i+1}"></a>
                    </li>

                    <li class="page-item" th:if="${employeeList.hasNext()}">
                        <a class="page-link"
                           th:href="@{'/employee/list'(page=${employeeList.number + 1})} + ${condition}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <!-- ---------thêm thẻ form--------->
        <form th:action="@{/employee/delete}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Xác nhận xoá !</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input hidden type="text" id="idEmployee" name="idDelete">
                    <span>Bạn có muốn xoá Employee </span>
                    <span class="text-danger" id="nameEmployee"></span><span> không ?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--+++++++++++++++++++++footer+++++++++++++++++++++-->
<div th:replace="~{layout/footer.html}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="/template/bootstrap/jquery-3.6.0.min.js"></script>
<script src="/template/bootstrap/js/bootstrap.js"></script>
<script src="/template/index.js"></script>
<script>
    function showInfo(id, name) {
        document.getElementById("idEmployee").value = id;
        document.getElementById("nameEmployee").innerText = name;
    }
</script>
</body>
</html>