h1 {
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

#bottom {
    font-size: 15px;
    font-family: "Times New Roman";
    margin-top: 0px;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
    text-align: justify;
    text-indent: 30px;
    text-style: 10px;
}

a {
    text-decoration: none;
}

.size1 {
    font-size: 10px;
    color: blue;
}

.size2 {
    font-size: 10px;
}

.text1 {
    color: deepskyblue;
}

.text2 {
    color: blue;
}