<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View province</title>
</head>
<body>
<center>
    <h1>View province:  <span th:text="${province.name}"></span></h1>
    <p>
        <a href="/provinces"><button>Province list</button></a>
    </p>
    <table border="1">
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <th:block th:each="customer : ${customers}">
            <tr th:object="${customer}">
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
            </tr>
            </tr>
        </th:block>
    </table>
</center>
</body>
</html>