<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <center>
        <h1>Display all product</h1>
    </center>
    <table class="table">
        <tr>
            <td>
                <a th:href="@{/product/list}">Back to list</a>
                <br>
                <a th:href="@{/product/create}">Add product</a>
            </td>
            <td>
                <form th:action="@{/product/search}" method="get">
                    <input type="text" name="nameSearch" placeholder="Input name product">
                    <input type="submit" value="search">
                </form>
            </td>
        </tr>
    </table>
    <div th:if="${mess}">
        <span th:text="${mess}"></span>
        <br>
    </div>
    <table class="table table-dark table-striped" >
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Note</th>
            <th>Producer</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>>
        <tbody th:each= "product, iterStat: ${productList}">
            <tr th:object="${product}">
                <td th:text="*{id}"></td>
                <td th:text="*{name}"></td>
                <td th:text="*{price}"></td>
                <td th:text="*{note}"></td>
                <td th:text="*{producer}"></td>
                <td>
                    <a th:href="@{/product/view/{id}(id=*{id})}">View</a>
                </td>
                <td>
                    <a th:href="@{/product/edit/{id}(id=*{id})}">Edit</a>
                </td>
                <td>
<!--                    <a th:href="@{/product/delete/{id}(id=*{id})}">Delete</a>-->

                    <a th:href="@{/product/delete/{id}(id=*{id})}" th:onclick="|deleteInfo(*{id}, '*{name}')|" data-toggle="modal" data-target="#exampleModal">Delete</a>

<!--                    <button type="button" onclick="deleteInfo(${product.id}, '${product.name}')" data-toggle="modal" data-target="#exampleModal">-->
<!--                        <a th:href="@{/product/delete/{id}(id=*{id})}">Delete</a>-->
<!--                    </button>-->
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="" method="get">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input hidden name="deleteId" id="deleteId">
                        <span>Do you want delete </span><span id="deleteName"></span><span>?</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function deleteInfo(id,name) {
            document.getElementById("deleteId").value=id;
            document.getElementById("deleteName").innerText=name;
        }
    </script>
</body>
</html>